<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>you can edit product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <!--подставляем шапку -->
    <div th:replace="~{Parts/header::header}"></div>

    <h1>Lets edit </h1>
    <form action="#" th:action="@{/editProduct}" th:object="${editProduct}" method="post" enctype="multipart/form-data">

        <p>Id: <input type="text"  th:field="*{id}"/>Смотри , но не трогай! Изменишь ID = задублируется или измениться другой продукт.</p>
        <p>Title: <input type="text" th:field="*{title}"/></p>
        <p>cost: <input type="text" placeholder="88" th:field="*{cost}"/>например 123 (пока инт)</p>
        <p>description: <input type="text" th:field="*{description}"/></p>
        <!--        будет выпадающе меню    <p>category: <input type="text" th:field="*{categoryId}"/></p>-->

        File to upload: <input type="file" name="img" id="img">
        <p>current Img: <input type="text" th:field="*{imgLink}"/></p>

        </br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        </br>
        </br>
        current Img:
        <img th:src="${editProduct.imgLink}"
             class="card-img-top" alt="...">
    </form>


</div>

</body>
</html>