<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>
<div class="container">
    <!--подставляем шапку -->
    <div th:replace="~{Parts/header::header}"></div>

    <h1>список продуктов </h1>
    <!--    <p th:text="${'Страница '+ currentPage+ ' из '+page.getPageSize()}"> </p>-->
    <p th:text="${'Страница '+ currentPage+ ' из '+totalPage}"></p>

    <div class="border me-5">
        <div th:replace="~{Parts/category-tree::categoryTree(treeEntries=${categoryTree.rootCategories})}"></div>
    </div>
    <div class="contaiter">
        <!--стиль карт, отступы -->
        <div class="row rows-cols-auto mt-5 mb-5">

            <div th:each="product :${products}" class="card  me-2 mb-2 " style="width: 18rem;">
                <img th:src="${product.imgLink}" class="card-img-top" alt="...">
                <!--                <img th:src="@{${product.imgLink}}"             class="card-img-top" alt="...">-->

                <div class="card-body">
                    <h2 th:text="${product.title}" class="card-title">Card</h2>
                    <h5 th:text="${'Цена '+product.cost+' $'}" class="card-title"> $</h5>

                    <p th:text="${product.description}" class="card-text"></p>
                    <a th:href="${'http://localhost:8080/productOverview/'+product.id}" class="btn btn-primary">Подробнее</a>
                    <a href="#" class="btn btn-primary">В корзину</a> </br>

                    <!--                  Кнопка будет скрываться если не хватает прав-->
                    <a th:href="@{/product/form(id=${product.id})}" href="#" class="btn btn-primary">edit</a>
                    <a th:href="${'/product/deleteProduct/'+product.id}" class="btn btn-primary">delete</a>


                </div>
            </div>


        </div>

    </div>
</div>


</div>

</body>

</html>