<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="categoryTree">
    <ul>
        <li th:each="treeEntry : ${treeEntries}">
            <div class="flex">
                <a th:href="@{/product(category=${treeEntry.category.pathUrl})}"
                   th:text="${treeEntry.category.nameCategory}"
                >
                    filter
                </a>

                <a th:href="@{/templates/old/category/form(id=${treeEntry.category.id})}" class="ms-1 link-secondary">
                   edit
                </a>
            </div>

            <div th:replace="~{Parts/category-tree::categoryTree(treeEntries=${treeEntry.subCategories})}"></div>
        </li>
    </ul>
</div>
</body>
</html>